button {
  color: black;
  background-color: white;
}

button[data-modifier="primary"] {
  color: white;
  background-color: blue;

}

button[data-modifier="secondary"] {
  color: white;
  background-color: pink;

}

button[data-modifier="warning"] {
  color: white;
  background-color: red;

}
