.t-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.t-stack>* {
  margin-block: 0;
}

.t-stack>*+* {
  margin-block-start: var(--t-stack-space);
}

.t-stack:only-child {
  block-size: 100%;
}

